body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.table {
  width: 400px;
  margin: auto;
}
.table thead {
  background-color: rgb(4, 109, 245);
  color: #eee;
}
.margin-div {
  margin: 10px auto;
}
